<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">
  

    <div class="footer-col-wrapper">
      
      

      <div class="footer-col footer-desc">
        <p>{{- site.description1 | escape -}}</p>
        <p>{{- site.description2 | escape -}}</p>
      </div>

      
      <div class="footer-col footer-links">
        {%- include social.html -%} <a href="/Blog/about">
          <img src="{{ site.baseurl }}/assets/images/communication.png" class="svg-icon" alt="Mentorship" /> <span
            class="username">Mentorship</span></a>
        
      </div>
    </div>

  </div>

</footer>
