---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <h3>Submit your proposal</h3>
  <form id="contactForm" method="post"
    action="https://mentorship-proxy-app.livelycoast-efe2f211.westeurope.azurecontainerapps.io/create-item">
    <input type="text" id="name" name="name" placeholder="Your Name" style="width: 20em;" required><br>
    <input type="email" id="email" name="email" placeholder="Your Email" style="width: 20em;" required><br>
    <textarea id="proposal" name="proposal" placeholder="Your Proposal" rows="10" cols="50" required></textarea><br>
    <button type="submit">Submit</button>
  </form>

</article>
