---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <h3>Submit your proposal</h3>
  <form id="contactForm" method="post"
    action="https://mentoringformapi20240826221759.azurewebsites.net/mentoring-proposal">
    <input type="text" id="name" name="name" placeholder="Your Name" style="width: 30em;" required><br>
    <input type="email" id="email" name="email" placeholder="Your Email" style="width: 30em;" required><br>
    <textarea id="proposal" name="proposal" placeholder="Your Proposal" rows="10" cols="80" required></textarea><br>
    <input type="checkbox" id="subscribe" name="subscribe" >
    <label for="option2">I would like to get notified when there is a new blog post.</label>
    <button type="submit">Submit</button>
  </form>

</article>
